beautifulsoup4==4.9.1
celery==4.4.6
Django>=3.0,<4.0
psycopg2-binary
pytz==2020.1
redis==3.5.3
requests
django-modeltranslation
djangorestframework
drf-nested-routers
django-celery-beat
elasticsearch-dsl>=7.0.0,<8.0.0
django-elasticsearch-dsl
django-elasticsearch-dsl-drf
django-cors-headers
django-admin-honeypot~=1.1.0
selenium