beautifulsoup4==4.9.1
celery==4.4.6
Django==3.2.9
psycopg2-binary==2.9.2
pytz==2020.1
redis==3.5.3
requests==2.26.0
django-modeltranslation==0.17.3
djangorestframework==3.12.4
drf-nested-routers==0.93.4
django-celery-beat==2.2.0
elasticsearch-dsl==7.4.0
django-elasticsearch-dsl==7.2.1
django-elasticsearch-dsl-drf==0.22.2
django-cors-headers==3.10.1
django-admin-honeypot~=1.1.0
selenium==4.1.0