{% extends 'admin/change_list.html' %}

{% block content %}
    <div>
        <h2>Requested Store Priority</h2>
        <table>
            <thead>
            <tr>
                <th>Url</th>
                <th># requests</th>
            </tr>
            </thead>
            <tbody>
                {% for row in priority_table %}
                    <tr>
                        <td><a href="{{ row.website }}">{{ row.website }}</a></td>
                        <td>{{ row.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>All requested stores</h2>
    {{ block.super }}
{% endblock %}
